@use "./typography.scss" as *;
@use "./animations.scss" as *;
@use "./hljs.scss" as *;

body {
    background-color: #020202;
    margin: 0;
    padding: 0;
    font-family: 'Inter Display';
    color: white;
    
    * {
        box-sizing: border-box;
    }
}

.kajmilgpt-layout {
    display: grid;
    grid-template-rows: 64px 1fr;
    
    header {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        user-select: none;
        justify-content: space-between;
        
        .logo {
            font-size: 16px;
            font-weight: 600;
            display: flex;
            gap: 0.25rem;
            align-items: center;
        }
        
        .button-container {
            display: flex;
            gap: 0.5rem;
            
            .mock-button {
                appearance: none;
                width: fit-content;
                height: 32px;
                font-family: 'Inter Display';
                font-weight: 500;
                background: none;
                padding: 0 0.85rem;
                border: none;
                border: 1px solid #202020;
                border-radius: 32px;
                color: white;
                cursor: pointer;
                
                &.primary {
                    border-color: transparent;
                    color: black;
                    background-color: white;
                }
            }
        }
    }
    
    .kajmilgpt-chat-wrapper {
        width: 100%;
        height: calc(100vh - 64px);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        .kajmilgpt-chat-container {
            width: 100%;
            max-width: 800px;
            outline-offset: -1px;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            letter-spacing: 0.02em;
            line-height: 1.5;
            max-height: 100%;
            overflow-y: scroll;
            padding-bottom: 192px;
            
            &::-webkit-scrollbar {
                width: 0;
            }
            
            .chat-input {
                margin-left: auto;
                width: fit-content;
                background-color: #101010;
                border: 1px solid #202020;
                padding: 0.5rem 0.85rem;
                border-radius: 100rem;
                animation: slideIn 0.5s ease;
            }
            
            .chat-output {
                animation: slideIn 0.5s ease;
                color: #e3e3e3;
                
                * {
                    animation: slideIn 0.5s ease;
                    line-height: 1.75;
                }
            }
        }
        
        .kajmilgpt-input-wrapper {
            height: 92px;
            outline-offset: -1px;
            width: 100%;
            max-width: 800px;
            position: absolute;
            bottom: 0;
            
            .kajmilgpt-input-container {
                width: 100%;
                background: #101010;
                display: grid;
                grid-template-columns: 1fr auto auto;
                border-radius: 92px;
                border: 1px solid #202020;
                align-items: center;
                padding: 0 1rem;
                gap: 0.5rem;
                

                input[type=text] {
                    appearance: none;
                    background: none;
                    border: none;
                    color: white;
                    font-family: 'Inter Display';
                    font-size: 16px;
                    letter-spacing: 0.02em;
                    padding: 1.25rem;
                    padding-left: 0.25rem;
                    
                    &:focus {
                        outline: none;
                    }
                }
                
                .submit-button {
                    appearance: none;
                    border-radius: 100%;
                    height: 32px;
                    width: 32px;
                    border: none;
                    background-color: orange;
                    display: grid;
                    place-items: center;
                    padding: 0;
                    cursor: pointer;
                }
                
                .model-button {
                    appearance: none;
                    width: fit-content;
                    height: 32px;
                    font-family: 'Inter Display';
                    font-weight: 500;
                    background: none;
                    padding: 0 0.75rem;
                    border: none;
                    border: 1px solid #202020;
                    border-radius: 32px;
                    color: white;
                    
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
    }
}